{% extends "base.html" %}
{% block title %}Askgraph.com - {{ meta['dataset'] }}{% end %}

{% block head_tail %}
<script type="text/javascript">
  var p = 0;
  setInterval(function() {
    var d = document.getElementById("d");
    var bottom = (window.innerHeight + window.scrollY + 10000) >= document.body.offsetHeight;
    if( bottom && d.className.match(/partial$/g) ) {
      p += 1;
      var url = window.location.pathname.replace('/d/','/p/'+p+'/');
      xmlhttp=new XMLHttpRequest();
      xmlhttp.open("GET",url,false);
      xmlhttp.send();
      if (xmlhttp.readyState==4 && xmlhttp.status==200) {
        d.innerHTML += xmlhttp.responseText;
        if( xmlhttp.responseText.match(/^[ \t\n]*$/g) ) {
          d.className = d.className.replace('partial','');
        }
      }
    }
  }, 1000);
</script>
{% end %}

{% block content %}
  {% include "_header.html" %}
  {% if meta.get("source","") %}
  <section>
    <b>Data Source:</b> <a href="{{ meta.get("source","") }}">{{ meta.get("sourcename","") or meta.get("source","") }}</a>
  </section>
  {% end %}

  <section>
    {% set q_dataset = q.split("/")[0] %}
    {% set q_url = "/d/" + q_dataset %}
    <b><a href="{{ q_url }}">{{ q_dataset }}</a></b> &nbsp;&nbsp;&gt;&nbsp;&nbsp;
    {% for q_part in q.split("/")[1:] %}
      {% set q_url = q_url + "/" + q_part %}
      <b><a href="{{ q_url }}">{{ q_part }}</a></b>
      &nbsp;&nbsp;&gt;&nbsp;&nbsp;
    {% end %}
    <b><a href="/download/{{ q }}">download as csv</a></b>
  </section>
  
  <table id="d" class="document result{% if partial %} partial{% end %}">
    <tr>
      {% import urllib %}
      {% for row in header %}
        <th><a href="{{ request.path+"/"+urllib.quote(row.key) }}">{{ row.val }}</a></th>
      {% end %}
    </tr>
    {% include "document_page.html" %}
  </table>
  {% include "_related.html" %}
  {% include "_footer.html" %}
{% end %}
