{% extends "base.html" %}

{% block content %}
  {% include "_header.html" %}
    <div class="breadcrumb">
    {#
    {% for t in topic %}
      &gt;
      <a href="{{ t.url }}">{{ t.name }}</a>
    {% end %}
    #}
    <span style="float: right">
      <a href="/download/{{ q }}">download as csv</a>
    </span>
  </div>

  <table class="document result">
    <tr>
      {% for row in header %}
        <th><a href="{{ request.path+row.url }}">{{ row.text }}</a></th>
      {% end %}
    </tr>
    {% for d in documents %}
    <tr>
      {% for row in d %}
        <td><a href="{{ request.path+row.url }}">{{ row.text }}</a></td>
      {% end %}
    </tr>
    {% end %}
  </table>
  {% include "_related.html" %}
  {% include "_footer.html" %}
{% end %}
