{% extends "base.html" %}

{% block content %}
  {% include "_header.html" %}
  <section>
    <p><b>Who?</b> you.</p>
    <p><b>What?</b> information.</p>
    <p><b>Where?</b> here.</p>
    <p><b>Why?</b> valuable.</p>
    <p><b>How?</b> check out the datasets below.</p>
  </section>
  <table class="document">
    <tr>
      <th><a>Dataset</a></th>
    </tr>
    {% for h in headers %}
    <tr>
      <td><a href="/d/{{ h.key }}">{{ h.val }}</a></td>
    </tr>
    {% end %}
  </table>
  {% include "_footer.html" %}
{% end %}
