{% extends "base.html" %}

{% block content %}
  {% include "_header.html" %}
  <form action="/request" method="post">
     {% raw xsrf_form_html() %}
     <section>
       <label for="name">Your name:</label>
       <input id="name" name="name" type="text"/>
     </section>
     <section>
       <label for="request">Your request:</label>
       <textarea id="request" name="request"></textarea>
     </section>
     <section>
       <input type="submit" value="Send" title="Submit your request"/>
     </section>
  </form>
  {% include "_footer.html" %}
{% end %}
