{% extends "base.html" %}

{% block title %}Askgraph.com - Silent Work{% end %}

{% block content %}
  {% include "_header.html" %}
  {% if link and form %}
    {% import fjorm %}
    <h2>{% apply linkify %}{{ link }}{% end %}</h2>
    <form action="/silent_work" method="post">
      {% raw xsrf_form_html() %}
      <input type="hidden" name="output" value="{{ output }}"/>
      <input type="hidden" name="route" value="{{ route }}"/>
      {% raw fjorm.generate_html(form) %}
      <input type="submit" value="Submit"/>
    </form>
  {% else %}
    <p>The work queue is empty. Good work.</p>
  {% end %}
  {% include "_footer.html" %}
{% end %}
