<!doctype html>
<html>
  <head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      {% if handler.get_argument("success","") %}
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <center>{{ handler.get_argument("success") }}</center>
      </div>
      {% end %}
      {% if handler.get_argument("info","") %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <center>{{ handler.get_argument("info") }}</center>
      </div>
      {% end %}
      {% if handler.get_argument("alert","") %}
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <center>{{ handler.get_argument("alert") }}</center>
      </div>
      {% end %}
      {% if handler.get_argument("error","") %}
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <center>{{ handler.get_argument("error") }}</center>
      </div>
      {% end %}
    </div>
    <header class="jumbotron subhead" id="overview">
      <div class="container">
        <h1>Askgraph</h1>
        <p class="lead">Internet information broker</p>
      </div>
    </header>
    {% block content %}{% end %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
  </body>
</html>
